Repository ksvcr/json-to-form: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint './**/*.{js,ts,tsx}, stylelint 'src/**/*.css' --fix

feat: Adds form config types
  src/features/JsonToForm/types/formConfig.ts
Due: eslint './**/*.{js,ts,tsx}

feat: Adds shared controls components
  src/shared/components/Checkbox/Checkbox.tsx
  src/shared/components/Checkbox/index.ts
  src/shared/components/Date/Date.tsx
  src/shared/components/Date/index.ts
  src/shared/components/Number/Number.tsx
  src/shared/components/Number/index.ts
  src/shared/components/Radio/Radio.tsx
  src/shared/components/Radio/index.ts
  src/shared/components/TextInput/TextInput.tsx
  src/shared/components/TextInput/index.ts
  src/shared/components/Textarea/Textarea.tsx
  src/shared/components/Textarea/index.ts
Due: eslint './**/*.{js,ts,tsx}

feat: Adds form title in types
  src/features/JsonToForm/types/formConfig.ts
Due: eslint './**/*.{js,ts,tsx}

feat: Adds RadioGroup wrapper
  src/features/JsonToForm/components/RadioGroup/RadioGroup.tsx
  src/features/JsonToForm/components/RadioGroup/index.ts
Due: eslint './**/*.{js,ts,tsx}

feat: Adds JsonToForm feature
  src/app/App.tsx
  src/features/JsonToForm/FormContext.tsx
  src/features/JsonToForm/JsonToForm.tsx
  src/features/JsonToForm/components/Control/Control.tsx
  src/features/JsonToForm/components/Control/index.ts
  src/features/JsonToForm/components/Field/Field.tsx
  src/features/JsonToForm/components/Field/index.ts
  src/features/JsonToForm/components/Fields/Fields.tsx
  src/features/JsonToForm/components/Fields/index.ts
  src/features/JsonToForm/components/Form/Form.tsx
  src/features/JsonToForm/components/Form/index.ts
  src/features/JsonToForm/index.ts
  src/features/JsonToForm/types/index.ts
Due: eslint './**/*.{js,ts,tsx}

feat: Adds textarea for json
  src/app/App.tsx
  src/features/JsonToForm/JsonToForm.tsx
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.tsx
  src/features/PrettyJsonTextarea/index.ts
Due: eslint './**/*.{js,ts,tsx}

fix: Adds forgotten props
  src/features/JsonToForm/components/Control/Control.tsx
Due: eslint './**/*.{js,ts,tsx}

feat: Adds Json validation
  package-lock.json
  package.json
  src/app/App.tsx
  src/features/JsonToForm/types/formConfig.ts
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.tsx
  src/features/PrettyJsonTextarea/validateJson.ts
Due: eslint './**/*.{js,ts,tsx}

feat: Adds tailwind
  craco.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/features/JsonToForm/components/Control/Control.tsx
  src/features/JsonToForm/components/Form/Form.tsx
  src/index.css
  src/index.tsx
  src/shared/components/Checkbox/Checkbox.tsx
  src/shared/components/Date/Date.tsx
  src/shared/components/Number/Number.tsx
  src/shared/components/Radio/Radio.tsx
  src/shared/components/TextInput/TextInput.tsx
  src/shared/components/Textarea/Textarea.tsx
  tailwind.config.js
Due: eslint './**/*.{js,ts,tsx}, stylelint 'src/**/*.css' --fix

feat: Removes tailwind
  craco.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/app/App.tsx
  src/features/JsonToForm/components/Control/Control.tsx
  src/features/JsonToForm/components/Form/Form.tsx
  src/index.css
  src/index.tsx
  src/shared/components/Checkbox/Checkbox.tsx
  src/shared/components/Date/Date.tsx
  src/shared/components/Number/Number.tsx
  src/shared/components/Radio/Radio.tsx
  src/shared/components/Tabs/Tabs.tsx
  src/shared/components/Tabs/index.ts
  src/shared/components/TextInput/TextInput.tsx
  tailwind.config.js
Due: eslint './**/*.{js,ts,tsx}, stylelint 'src/**/*.css' --fix

feat: Adds Tabs
  src/app/App.tsx
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.tsx
  src/shared/components/Tabs/Tabs.tsx
  src/shared/components/Textarea/Textarea.tsx
Due: eslint './**/*.{js,ts,tsx}

feat: Adds global styles
  src/app/fonts/NotoSans-Bold.woff
  src/app/fonts/NotoSans-Bold.woff2
  src/app/fonts/NotoSans-Regular.woff
  src/app/fonts/NotoSans-Regular.woff2
  src/app/styles/fonts.css
  src/app/styles/global.css
  src/app/styles/index.css
  src/app/styles/variables.css
Due: stylelint 'src/**/*.css' --fix

refactor: FromFromJson
  src/app/App.tsx
  src/features/FormFromJson/FormContext.tsx
  src/features/FormFromJson/FormFromJson.tsx
  src/features/FormFromJson/components/Control/Control.tsx
  src/features/FormFromJson/components/Control/index.ts
  src/features/FormFromJson/components/Field/Field.tsx
  src/features/FormFromJson/components/Field/index.ts
  src/features/FormFromJson/components/Fields/Fields.tsx
  src/features/FormFromJson/components/Fields/index.ts
  src/features/FormFromJson/components/Form/Form.tsx
  src/features/FormFromJson/components/Form/index.ts
  src/features/FormFromJson/components/RadioGroup/RadioGroup.tsx
  src/features/FormFromJson/components/RadioGroup/index.ts
  src/features/FormFromJson/index.ts
  src/features/FormFromJson/types/formConfig.ts
  src/features/FormFromJson/types/index.ts
  src/features/JsonToForm/JsonToForm.tsx
  src/features/JsonToForm/index.ts
  src/screens/JsonToFormScreen/JsonToFormScreen.tsx
  src/screens/JsonToFormScreen/index.ts
  src/shared/components/Textarea/Textarea.tsx
Due: eslint './**/*.{js,ts,tsx}

feat: Adds styles
  craco.config.js
  src/app/styles/global.css
  src/app/styles/variables.css
  src/features/FormFromJson/components/Control/Control.module.css
  src/features/FormFromJson/components/Control/Control.tsx
  src/features/FormFromJson/components/RadioGroup/RadioGroup.module.css
  src/features/FormFromJson/components/RadioGroup/RadioGroup.tsx
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.module.css
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.tsx
  src/screens/JsonToFormScreen/JsonToFormScreen.tsx
  src/shared/components/Button/Button.module.css
  src/shared/components/Button/Button.tsx
  src/shared/components/Button/index.ts
  src/shared/components/Radio/Radio.module.css
  src/shared/components/Radio/Radio.tsx
  src/shared/components/Tabs/Tabs.module.css
  src/shared/components/Tabs/Tabs.tsx
  src/shared/components/TextInput/TextInput.tsx
  src/shared/components/Textarea/Textarea.tsx
  src/shared/layouts/DefaultLayout/DefaultLayout.module.css
  src/shared/layouts/DefaultLayout/DefaultLayout.tsx
  src/shared/layouts/DefaultLayout/index.ts
Due: eslint './**/*.{js,ts,tsx}, stylelint 'src/**/*.css' --fix

feat: Adds succes message
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.module.css
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.tsx
Due: eslint './**/*.{js,ts,tsx}, stylelint 'src/**/*.css' --fix

feat: Adds form controls
  src/features/FormFromJson/FormContext.tsx
  src/features/FormFromJson/FormFromJson.tsx
  src/features/FormFromJson/components/Form/Form.module.css
  src/features/FormFromJson/components/Form/Form.tsx
  src/features/FormFromJson/types/formConfig.ts
  src/features/PrettyJsonTextarea/validateJson.ts
  src/screens/JsonToFormScreen/JsonToFormScreen.tsx
Due: eslint './**/*.{js,ts,tsx}, stylelint 'src/**/*.css' --fix

refactor: Extracts default config
  src/screens/JsonToFormScreen/JsonToFormScreen.tsx
  src/screens/JsonToFormScreen/defaultJsonConfig.ts
Due: eslint './**/*.{js,ts,tsx}

feat: Addes joi types
  package.json
Due: none

feat: Addes form test
  src/features/FormFromJson/FormFromJson.test.tsx
  src/screens/JsonToFormScreen/defaultJsonConfig.ts
Due: eslint './**/*.{js,ts,tsx}

feat: Adds textarea text
  package-lock.json
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.test.tsx
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.tsx
  src/features/PrettyJsonTextarea/validateJson.ts
  src/setupTests.ts
Due: eslint './**/*.{js,ts,tsx}

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.cc071794.chunk.css
  static/css/main.cc071794.chunk.css.map
  static/js/2.5f8ab00f.chunk.js
  static/js/2.5f8ab00f.chunk.js.LICENSE.txt
  static/js/2.5f8ab00f.chunk.js.map
  static/js/main.7cdfa70d.chunk.js
  static/js/main.7cdfa70d.chunk.js.map
  static/js/runtime-main.a30b68b1.js
  static/js/runtime-main.a30b68b1.js.map
  static/media/NotoSans-Bold.6edd3a68.woff2
  static/media/NotoSans-Bold.8e057f71.woff
  static/media/NotoSans-Regular.03c0844f.woff
  static/media/NotoSans-Regular.1ded6c43.woff2
Due: eslint './**/*.{js,ts,tsx}, stylelint 'src/**/*.css' --fix

feat: Deploy
  package-lock.json
  package.json
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.tsx
Due: eslint './**/*.{js,ts,tsx}

Updates
  asset-manifest.json
  index.html
  static/js/main.05b01d9e.chunk.js
  static/js/main.05b01d9e.chunk.js.map
  static/js/main.7cdfa70d.chunk.js
  static/js/main.7cdfa70d.chunk.js.map
Due: eslint './**/*.{js,ts,tsx}

feat: Adds darker colors for active buttons
  src/app/styles/variables.css
  src/shared/components/Button/Button.module.css
  src/shared/components/Tabs/Tabs.module.css
Due: stylelint 'src/**/*.css' --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.196231e7.chunk.css
  static/css/main.196231e7.chunk.css.map
  static/css/main.cc071794.chunk.css
  static/css/main.cc071794.chunk.css.map
Due: stylelint 'src/**/*.css' --fix

doc: Adds readme
  README.md
Due: none

fix: Hides error on success
  src/features/PrettyJsonTextarea/PrettyJsonTextarea.tsx
Due: eslint './**/*.{js,ts,tsx}

Updates
  asset-manifest.json
  index.html
  static/js/main.05b01d9e.chunk.js
  static/js/main.05b01d9e.chunk.js.map
  static/js/main.824ff02a.chunk.js
  static/js/main.824ff02a.chunk.js.map
Due: eslint './**/*.{js,ts,tsx}

Path conditions:
  eslint './**/*.{js,ts,tsx}: any of: *.{js,ts,tsx}
  stylelint 'src/**/*.css' --fix: any of: *.css
